{:paths ["src"]
 :deps {version-clj/version-clj {:mvn/version "2.0.2"}
        com.github.quoll/remorse {:git/sha "df7dd339bddf429aad0b8c05623047b3ae74b9b7"}
        doric/doric {:mvn/version "0.9.0"}
        }}
